# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Test coverage output
*.out

# Go workspace file
go.work
go.work.sum

# env files
.env

# docs
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
